.conteudo {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 30px;
  justify-content: space-between;
  margin-top: 8vh;
  text-align: center;
  width: 70vw;
    
}
.conteudo h2 {
  font-size: 2.3rem;
  font-family: 'Source Serif Pro';
  text-shadow: 2px 2px #00C853;
  font-weight: bold;
}